<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
      <ion-row *ngFor="let product of products">
        <ion-col size-xs="6" size-md="4" size-lg="3" sixe-xl="1">
          <img src="{{product.image}}" alt="{{product.name}}">
        </ion-col>
        <ion-col>
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
          <p>{{product.price}} €</p>
          <ion-button color="primary">add to car</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
